<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> NaijaTech Stores &middot; No1 Classified Site For Gadget, Computer and Laptop, Accessories in Nigeria</title>

    <meta name="description" content="No1 Classidied Site For Gadget, Computer and Laptop, Accessories in Nigeria">
    <meta name="keywords" content="unistore, laptops, gadgets, accessories, online store, buy, tablets, niyotek">
    <meta name="author" content="Gentle Coder">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/products/logo.png">

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/css/carousel.css" rel="stylesheet">
    <link href="assets/ionicons-2.0.1/css/ionicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <link href="assets/css/custom-scroll/jquery.mCustomScrollbar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
      .search-diag {
        display: flex; 
        flex-direction: row; 
        justify-content: center;
        /*display: none;*/
      }

      .search-diag input {
        padding: 10px;
        cursor: pointer;
        position: relative;
        width: 200px;
      }

      .search-diag input[type="text"] {
        cursor: text;
        width: 300px;
      }

      .search-diag input:focus {
        border:lightgreen solid 2px;
      }

      .search-diag span{
        position: absolute;
        right: 10px;
        top: 20px;
      }

      .search-diag ul li {
        padding: 5px;
        cursor: pointer;
        text-align: center;
      }

      .search-diag ul li:hover {
        background: #eee;
      }

  
      #back-to-top-btn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 26px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        color: #333;
        cursor: pointer;
        outline: none;
        border: 3px solid #333;
        border-radius: 50%;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color;
        z-index: 5;
      }
      #back-to-top-btn:hover, #back-to-top-btn:focus {
        background-color: #333;
        color: #fff;  
      }

      /*btn Animations */
      .btnEntrance {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: btnEntrance;
      }
      /* zoomIn */
      /* @keyframes btnEntrance { 
        from {
          opacity: 0;
          transform: scale3d(0.3, 0.3, 0.3);
        }
        to {
          opacity: 1;
        }    
      } */

      /* fadeInUp */
      @keyframes btnEntrance {
        from {
          opacity: 0;
          transform: translate3d(0, 100%, 0);
        }
        to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }

      .btnExit {
        animation-duration: 0.25s;
        animation-fill-mode: both;  
        animation-name: btnExit;
      }
      /* zoomOut */
      /* @keyframes btnExit {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
          transform: scale3d(0.3, 0.3, 0.3);
        }
      } */

      /* fadeOutDown */
      @keyframes btnExit {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
          transform: translate3d(0, 100%, 0);
        }
      }

      @media (max-width: 768px) {
         .search-diag {
            display: flex; 
            flex-direction: column; 
/*            justify-content: center;*/
            align-items: center;
            /*display: none;*/
          }

          .search-diag input{
            width: 300px;
          }
      }
    </style> 
  </head>
  <body>

    <div class="toplinks">
      <a href="#" data-toggle="modal" data-target="#Modal-Gallery"> <i class="ion-ios-heart"></i> Favorites </a>
      <a href="tel:+2347017578648" class="hidden-xs"> <i class="ion-android-call"></i> 0701 757 8648</a>
    </div>
    
    <button href="#" id="back-to-top-btn" title="back to top"><i class="ion-eject"></i></button>
    
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand logo" href="/"><img src="assets/img/products/logo.png"></a>
            <!-- <a class="navbar-brand pull-right hidden-sm hidden-md hidden-lg" href="#open-cart"> <i class="ion-bag"></i> 7 </a> -->
          </div>
        </div><!--/.container-fluid -->
    </nav>


    <header class="top">
      <div class="carousel" data-count="3" data-current="1">

        <div class="items">
          <button class="btn btn-control" data-direction="right"> <i class="ion-ios-arrow-right"></i></button>
          <button class="btn btn-control" data-direction="left"> <i class="ion-ios-arrow-left"></i></button>


          <div class="item center" data-marker="1">
            <img src="assets/img/carousel/laptops.jpg" alt="Background" class="background hidden-xs hidden-sm"/>
            <img src="assets/img/carousel/laptops.jpg" alt="Background" class="background visible-sm"/>
            <img src="assets/img/carousel/laptops.jpg" alt="Background" class="background visible-xs"/>

            <div class="content">
              <div class="outside-content">
                <div class="inside-content">
                  <div class="container align-center">
                  
                    <form class="search-diag row" action="/store" method="post">
                      <div class="dropdown">
                        <input class="dropdown-toggle" type="select" data-toggle="dropdown" placeholder="Brands" name="brand">
                        <span class="caret"></span></input>
                        <ul class="dropdown-menu">
                          <li>Apple</li>
                          <li>Acer</li>
                          <li>Asus</li>
                        </ul>
                      </div>

                   <!--  <div>
                      <input type="text" name="" class="seacrhfield" placeholder="Search for a product">
                    </div> -->

                      <div class="dropdown">
                        <input class="dropdown-toggle" type="select" data-toggle="dropdown" placeholder="Price Range" name="price">
                        <span class="caret"></span></input>
                        <ul class="dropdown-menu">
                          <li class="1_range">₦15000 - ₦20000</li>
                          <li class="2_range">₦25000 - ₦30000</li>
                          <li class="3_range">₦35000 - ₦40000</li>
                          <li class="4_range">₦45000 - ₦50000</li>
                          <li class="5_range">₦55000 - ₦60000</li>
                          <li class="6_range">₦65000 - ₦70000</li>
                          <li class="7_range">₦75000 - ₦80000</li>
                          <li class="8_range">₦85000 - ₦90000</li>
                          <li class="9_range">₦95000 - ₦100000</li>
                          <li class="10_range">₦100000+</li>
                        </ul>
                      </div>
                    

                      <div>
                        <input type="submit" name="search" value="Search" class="seacrhfield">
                      </div>
                    </form>  
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="item" data-marker="2">
            <img src="assets/img/carousel/bckg-2.jpeg" alt="Background" class="background hidden-xs hidden-sm"/>
            <img src="assets/img/carousel/bckg-2-sm.jpeg" alt="Background" class="background visible-sm"/>
            <img src="assets/img/carousel/bckg-2-xs.jpeg" alt="Background" class="background visible-xs"/>

            <div class="content">
              <div class="outside-content">
                <div class="inside-content">
                  <div class="container align-center">
                  
                    <a href="/powerbank" class="btn btn-primary">Buy Now</a>
                      
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="item" data-marker="3">
            <img src="assets/img/carousel/bckg-1.jpg" alt="Background" class="background hidden-xs hidden-sm"/>
            <img src="assets/img/carousel/bckg-1-sm.jpg" alt="Background" class="background visible-sm"/>
            <img src="assets/img/carousel/bckg-1-xs.jpg" alt="Background" class="background visible-xs"/>


            <div class="content">
              <div class="outside-content">
                <div class="inside-content">
                  <div class="container align-center">
                  
                    <div class="search-diag row">
                      <div class="dropdown">
                        <input class="dropdown-toggle" type="select" data-toggle="dropdown" placeholder="Brands">
                        <span class="caret"></span></input>
                        <ul class="dropdown-menu">
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>JavaScript</li>
                        </ul>
                      </div>

                    <div>
                      <input type="text" name="" class="seacrhfield" placeholder="Search for a product">
                    </div>

                      <div class="dropdown">
                        <input class="dropdown-toggle" type="select" data-toggle="dropdown" placeholder="Price Range">
                        <span class="caret"></span></input>
                        <ul class="dropdown-menu">
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>JavaScript</li>
                        </ul>
                      </div>
                    </div>
                      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ul class="markers">
          <li data-marker="1" data-style="white" class="active"></li>
          <li data-marker="2" data-style="white"></li>
          <li data-marker="3" data-style="white"></li>
        </ul>

      </div>
    </header>
    <hr class="offset-lg">
    <hr class="offset-lg">

    <div class="bars">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 no-padding padding-xs">
            <div class="bar medium" data-background="assets/img/bars/macbook.jpg">
              <h3 class="title black">MacBook Air</h3>

              <div class="wrapper">
                <div class="content">
                  <hr class="offset-sm">
                  <a href="./store/" rel="nofollow" class="btn btn-default black"> Buy now </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="bar small" data-background="assets/img/bars/dellinspirion.jpg">
              <h3 class="title black">Dell Inspirion 7000</h3>

              <div class="wrapper">
                <div class="content">
                  <hr class="offset-sm">
                  <a href="./store/" rel="nofollow" class="btn btn-primary black"> Buy now </a>
                </div>
              </div>
            </div>

            <hr class="offset-xs">
            <hr class="offset-xs">

            <div class="bar small" data-background="assets/img/bars/surfacestudio.jpg">
              <h3 class="title">Surface Studio</h3>
              
              <div class="wrapper">
                <div class="content">
                  <hr class="offset-sm">
                  <a href="./store/" rel="nofollow" class="btn btn-primary black"> Buy now </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 no-padding hidden-xs hidden-sm">
            <div class="bar medium" data-background="assets/img/bars/accessories.jpg">
              <h3 class="title black">Accessories</h3>
              
              <div class="wrapper">
                <div class="content">
                  <hr class="offset-sm">
                  <a href="./store/" rel="nofollow" class="btn btn-primary black"> Buy now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="offset-lg">
    <hr class="offset-md">


    <section class="products">
      <div class="container">
        <h2 class="h2 upp align-center"> Available laptops </h2>
        <hr class="offset-lg">

        <div class="row" id="content">

        </div>

        <div class="align-right align-center-xs">
          <hr class="offset-sm">
          <a href="store/index.html"> <h5 class="upp">View all ads </h5> </a>
        </div>
      </div>
    </section>


    <section class="blog">
      <div class="container">
        <h2 class="h2 upp align-center"> Blog Headlines </h2>
        <hr class="offset-lg">

        <div class="row">

          <div class="col-sm-6 col-md-6 item spot">

            <div class="body">
              <a href="#" class="view"><i class="ion-ios-book-outline"></i></a>
              <a href="#">
                <img src="assets/img/blog/img1.jpg" title="Apple Devices" alt="Apple Devices">
              </a>

              <div class="caption">
                <h2 class="h3">The next generation of Multi-Touch</h2>
                <label> 07.01.2017</label>
                <hr class="offset-sm">

                <p>
                  The original iPhone introduced the world to Multi-Touch, forever changing the way people experience technology. With 3D Touch, you can do things that were never possible before. It senses how deeply you press the display, letting you do all kinds of essential things more quickly and simply. And it gives you real-time feedback in the form of subtle taps from the all-new Taptic Engine.
                </p>
                <hr class="offset-sm">

                <a href="#"> View article </a>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 item">

            <div class="body">
              <a href="#" class="view"><i class="ion-ios-book-outline"></i></a>
              <a href="#">
                <img src="assets/img/blog/img2.jpg" title="Coffee" alt="Coffee">
              </a>

              <div class="caption">
                <h2 class="h3">MacBook Pro - brand new day for business.</h2>
                <label> 02.01.2017</label>
                <hr class="offset-sm">

                <p>
                  Organizations everywhere are realizing the potential that Mac brings to their employees by giving them the freedom to use the tools they already know and love. Software and hardware made for each other. Because Apple designs both the software and hardware, every Mac delivers the best possible experience for employees.
                </p>
                <hr class="offset-sm">

                <a href="#"> View article <i class="ion-ios-arrow-right"></i> </a>
              </div>
            </div>
          </div>

        </div>

        <div class="align-right align-center-xs">
          <hr class="offset-sm">
          <a href="./blog/"> <h5 class="upp">View all articels </h5> </a>
        </div>
      </div>
    </section>


    <hr class="offset-lg">
    <hr class="offset-sm">
    <footer>
      <div class="about">
        <div class="container">
          <div class="row">
            <hr class="offset-md">

            <center>
              <div class="col-xs-6 col-sm-6">
              <div class="item">
                <i class="ion-ios-telephone-outline"></i>
                <h1>24/7 free <br> <span>support</span></h1>
              </div>
            </div>
            </center>
            <center>
              <div class="col-xs-6 col-sm-6">
              <div class="item">
                <i class="ion-ios-star-outline"></i>
                <h1>Low price <br> <span>guarantee</span></h1>
              </div>
            </div>
            </center>

            <hr class="offset-md">
          </div>
        </div>
      </div>

      <div class="subscribe">
        <div class="container align-center">
            <hr class="offset-md">

            <h1 class="h3 upp">Join our newsletter</h1>
            <p>Get more information and receive special discounts for our products.</p>
            <hr class="offset-sm">

            <form action="index.php" method="post">
              <div class="input-group">
                <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary"> Subscribe <i class="ion-android-send"></i> </button>
                </span>
              </div><!-- /input-group -->
            </form>
            <hr class="offset-lg">
            <hr class="offset-md">

            <div class="social">
              <a href="#"><i class="ion-social-facebook"></i></a>
              <a href="#"><i class="ion-social-twitter"></i></a>
              <a href="#"><i class="ion-social-googleplus-outline"></i></a>
              <a href="#"><i class="ion-social-instagram-outline"></i></a>
              <a href="#"><i class="ion-social-linkedin-outline"></i></a>
              <a href="#"><i class="ion-social-youtube-outline"></i></a>
            </div>


            <hr class="offset-md">
            <hr class="offset-md">
        </div>
      </div>
      
      <div class="modal fade" id="Modal-Gallery" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
            <h4 class="modal-title">Favorites</h4>
          </div>
          <div class="modal-body">
            <p>You currently have no favorites</p>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

      <div class="container">
        <hr class="offset-md">

        <div class="row menu">
          <div class="col-sm-5 col-md-4">
            <h1 class="h4">Naijatechstores. <i class="ion-plus-round hidden-sm hidden-md hidden-lg"></i> </h1>

           <p>Naijatechstores is an authentic online warehouse dedicated to computers and accessories. Here,you can get all varieties of brands and specifications of laptops. We guarantee the reliability and durability of laptop(s) you buy on our site</p>
          </div>
  
          <div class="col-sm-6 col-md-4">

            <img src="assets/img/products/Comp_1-min.gif" alt="delivery gif" class="img-responsive">
          </div>
            <!-- <hr class="offset-xs"> -->
  
          <div class="col-sm-3 col-md-3 col-md-offset-1">
            <h1 class="h4">24/7 support & Help Center:</h1>

            <div style="display: flex; width: 100%; justify-content: center;">
              <div style="display: flex; flex-direction: column; width: 50%;">
                <address>
                  27, Adeniyi street,<br>
                  Itire Surulere, Lagos<br>
                </address>

                <address>
                  16 Onawale Street, <br>
                  off ire akari Road, <br>
                  oshodi isolo Lagos<br>
                  <a href="https://api.whatsapp.com/send?phone=07036061730" target="_blank"><i class="ion-social-whatsapp"></i> 07036061730</a>
                </address>
              </div>

              <div style="display: flex; flex-direction: column; width: 50%;">
                <address>
                  104 Lawanson Rd, <br>
                  Itire Surulere, Lagos<br>
                </address>

                <address>
                  <strong>Support</strong><br>
                  <a href="mailto:#">support@niyotechtehnologies.com</a>
                </address>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>

      <hr>

      <div class="container">
        <div class="row">
          </div>
          <div>
            <hr class="offset-sm hidden-sm">
            <hr class="offset-sm">
            <p>Copyright 2020 © Powered By Niyotek Technologies Designed By Webideasnetwork All Rights Reserved.</p>
            <hr class="offset-lg visible-xs">
          </div>
        </div>
      </div>
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery-latest.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/core.js"></script>
    <script type="text/javascript" src="assets/js/store.js"></script>
    <script type="text/javascript" src="assets/js/carousel.js"></script>
    <script type="text/javascript" src="assets/js/jquery.touchSwipe.min.js"></script>

    <script type="text/javascript" src="assets/js/custom-scroll/jquery.mCustomScrollbar.concat.min.js"></script>


    <script type="text/javascript" src="assets/js/jquery-ui-1.11.4.js"></script>
    <script type="text/javascript" src="assets/js/jquery.ui.touch-punch.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>

    <!-- script for back to top transition effect -->
    <script type="text/javascript">
      const backToTopButton = document.querySelector("#back-to-top-btn");

      window.addEventListener("scroll", scrollFunction);

      function scrollFunction() {
        if (window.pageYOffset > 300) { // Show backToTopButton
          if(!backToTopButton.classList.contains("btnEntrance")) {
            backToTopButton.classList.remove("btnExit");
            backToTopButton.classList.add("btnEntrance");
            backToTopButton.style.display = "block";
          }
        }
        else { // Hide backToTopButton
          if(backToTopButton.classList.contains("btnEntrance")) {
            backToTopButton.classList.remove("btnEntrance");
            backToTopButton.classList.add("btnExit");
            setTimeout(function() {
              backToTopButton.style.display = "none";
            }, 250);
          }
        }
      }

      backToTopButton.addEventListener("click", smoothScrollBackToTop);

      function smoothScrollBackToTop() {
        const targetPosition = 0;
        const startPosition = window.pageYOffset;
        const distance = targetPosition - startPosition;
        const duration = 750;
        let start = null;
        
        window.requestAnimationFrame(step);

        function step(timestamp) {
          if (!start) start = timestamp;
          const progress = timestamp - start;
          window.scrollTo(0, easeInOutCubic(progress, startPosition, distance, duration));
          if (progress < duration) window.requestAnimationFrame(step);
        }
      }

      function easeInOutCubic(t, b, c, d) {
        t /= d/2;
        if (t < 1) return c/2*t*t*t + b;
        t -= 2;
        return c/2*(t*t*t + 2) + b;
      };
    </script>

  </body>
</html>