<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> </title>

    <meta name="description" content="No1 Classidied Site For Gadget, Computer and Laptop, Accessories in Nigeria">
    <meta name="keywords" content="unistore, laptops, gadgets, accessories, online store, buy, tablets, niyotek">
    <meta name="author" content="Gentle Coder">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/products/logo.png">
    
    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/custom.css" rel="stylesheet">
    <link href="../assets/css/carousel-product.css" rel="stylesheet">
    <link href="../assets/ionicons-2.0.1/css/ionicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <link href="../assets/css/custom-scroll/jquery.mCustomScrollbar.css" rel="stylesheet">
    <style type="text/css">
        .panel {
            display: flex;
            margin-top: 40px;
            justify-content: center;
        }
        header img {
          width: 100%;
        }

        .left-container img{
            width: 50%
        }

        .price {
            font-weight: 700;
        }

        .btn {
            padding: 10px 0 10px 0;
        }

        .markers-new {
            display: flex;
            justify-content: flex-start;
            width: 40%;
        }

        .markers li img{
            width: 40%;
        }
        .thumbnail {
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
           transition: 0.3s;
           min-width: 40%;
           border-radius: 5px;
        }

        .thumbnail:hover {
           cursor: pointer;
           box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
        }

        .ads-list-archive {
            background-color: #fff;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
            display: block;
            margin-bottom: 30px;
            position: relative;
            float: left;
            width: 100%;
        }

        .ad-archive-img a{
            cursor: zoom-in;
        }
    </style>

  </head>

  <body>
    <header style="margin-top: 40px;">
            <img src="assets/img/carousel/bckg-2.jpg" alt="Background" class="background hidden-xs hidden-sm img-responsive"/>
            <img src="assets/img/carousel/bckg-2-sm.jpg" alt="Background" class="background visible-sm img-responsive"/>
            <img src="assets/img/carousel/bckg-2-xs.jpg" alt="Background" class="background visible-xs img-responsive"/>
    </header>
    <div class="toplinks">
      <a href="#" data-toggle="modal" data-target="#Modal-Gallery"> <i class="ion-ios-heart"></i> Favorites </a>
      <a href="tel:+2348090586138" class="hidden-xs"> <i class="ion-android-call"></i> 0809 058 6138</a>
    </div>

    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand logo" href="/"><img src="assets/img/products/logo.png"></a>
            <!-- <a class="navbar-brand pull-right hidden-sm hidden-md hidden-lg" href="#open-cart"> <i class="ion-bag"></i> 7 </a> -->
          </div>
        </div><!--/.container-fluid -->
    </nav>
    <hr class="offset-lg">
    <hr class="offset-lg">
    <div class="content">
      
    </div>


    <hr class="offset-lg">
    <hr class="offset-sm">
    <footer>
      <div class="about">
        <div class="container">
          <div class="row">
            <hr class="offset-md">

            <center>
              <div class="col-xs-6 col-sm-6">
              <div class="item">
                <i class="ion-ios-telephone-outline"></i>
                <h1>24/7 free <br> <span>support</span></h1>
              </div>
            </div>
            </center>
            <center>
              <div class="col-xs-6 col-sm-6">
              <div class="item">
                <i class="ion-ios-star-outline"></i>
                <h1>Low price <br> <span>guarantee</span></h1>
              </div>
            </div>
            </center>

            <hr class="offset-md">
          </div>
        </div>
      </div>

      <div class="subscribe">
        <div class="container align-center">
            <hr class="offset-md">

            <h1 class="h3 upp">Join our newsletter</h1>
            <p>Get more information and receive special discounts for our products.</p>
            <hr class="offset-sm">

            <form action="index.php" method="post">
              <div class="input-group">
                <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary"> Subscribe <i class="ion-android-send"></i> </button>
                </span>
              </div><!-- /input-group -->
            </form>
            <hr class="offset-lg">
            <hr class="offset-md">

            <div class="social">
              <a href="#"><i class="ion-social-facebook"></i></a>
              <a href="#"><i class="ion-social-twitter"></i></a>
              <a href="#"><i class="ion-social-googleplus-outline"></i></a>
              <a href="#"><i class="ion-social-instagram-outline"></i></a>
              <a href="#"><i class="ion-social-linkedin-outline"></i></a>
              <a href="#"><i class="ion-social-youtube-outline"></i></a>
            </div>


            <hr class="offset-md">
            <hr class="offset-md">
        </div>
      </div>
      
      <div class="modal fade" id="Modal-Gallery" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
            <h4 class="modal-title">Favorites</h4>
          </div>
          <div class="modal-body">
            <img src="https://naijatechstores.com/wp-content/uploads/2020/05/Untitled-4-313x234.jpg" alt="Acer aspire 5630" class="img-responsive">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

      <div class="container">
        <hr class="offset-md">

        <div class="row menu">
          <div class="col-sm-5 col-md-4">
            <h1 class="h4">Naijatechstores. <i class="ion-plus-round hidden-sm hidden-md hidden-lg"></i> </h1>

           <p>Naijatechstores is an authentic online warehouse dedicated to computers and accessories. Here,you can get all varieties of brands and specifications of laptops. We guarantee the reliability and durability of laptop(s) you buy on our site</p>
          </div>
  
          <div class="col-sm-6 col-md-4">

            <img src="assets/img/products/Comp_1-min.gif" alt="delivery gif" class="img-responsive">
          </div>
            <!-- <hr class="offset-xs"> -->
  
          <div class="col-sm-3 col-md-3 col-md-offset-1">
            <h1 class="h4">24/7 support & Help Center:</h1>

            <div style="display: flex; width: 100%; justify-content: center;">
              <div style="display: flex; flex-direction: column; width: 50%;">
                <address>
                  27, Adeniyi street,<br>
                  Itire Surulere, Lagos<br>
                </address>

                <address>
                  16 Onawale Street, <br>
                  off ire akari Road, <br>
                  oshodi isolo Lagos<br>
                  <a href="https://api.whatsapp.com/send?phone=08065917531" target="_blank"><i class="ion-social-whatsapp"></i> 0806 591 7531</a><br>
                  <a href="https://api.whatsapp.com/send?phone=08094156909" target="_blank"><i class="ion-android-call"></i> 0809 415 6909</a>
                </address>
              </div>

              <div style="display: flex; flex-direction: column; width: 50%;">
                <address>
                  104 Lawanson Rd, <br>
                  Itire Surulere, Lagos<br>
                </address>

                <address>
                  <strong>Support</strong><br>
                  <a href="mailto:#">support@niyotechtehnologies.com</a>
                </address>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>

      <hr>

      <div class="container">
        <div class="row">
          </div>
          <div>
            <hr class="offset-sm hidden-sm">
            <hr class="offset-sm">
            <p>Copyright 2020 © Powered By Niyotek Technologies Designed By Webideasnetwork All Rights Reserved.</p>
            <hr class="offset-lg visible-xs">
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../assets/js/jquery-latest.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/core.js"></script>
    <script src="../assets/js/store.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.touchSwipe.min.js"></script>

    <script type="text/javascript" src="../assets/js/custom-scroll/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" src="../assets/js/jquery-ui-1.11.4.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.ui.touch-punch.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
    <script src="../assets/js/carousel-product.js"></script>
    <script type="text/javascript">
      let content = document.querySelector('.content');
      let client = contentful.createClient({
        space: '506rx1s4kvpq',
        accessToken: 'cpYUmV3UQjbOMBkY90P-CDkzE1cy5fpdhPdaEvfAn_g'
      })

      let entryId = '11A5beQDhUeiFyKcaXipYN';

      let addSpinner = () => {
        let markup = `
          <center><img src="../assets/img/products/spinningwheel.gif" class="spinner" alt="spinner"></center>
        `;

        content.insertAdjacentHTML('beforeend', markup);
      }

      addSpinner();

      let removeSpinner = () => {
        let el = document.querySelector('.spinner');

        el.remove();
      }

      let priceSplit = given => {
        let price = given.toString().split('');

        if (price.length >= 4) {
          let newPrice = price.splice(-3);
          let currentPrice = price.join('') + ',' + newPrice.join('');

          if (currentPrice.length > 7) {
            let current = currentPrice.toString().split('');
            let endPrice = current.splice(-7);
            currentPrice = current.join('') + ',' + endPrice.join('');
          }
          return currentPrice;
        }
      }

      client.getEntries({ content_type: 'powerBank' })
      .then((response) => {
        removeSpinner();

        for (var i = 0; i < response.items.length; i++) {
          generateAll(response.items[i]);
        }
        console.log(response)
      })
      .catch(console.error)

      let generateAll = entry => {
        addProducts(entry);
      }; 

      let addList = async entry => {
        for (var i = 0; i < 3; i++) {
          await document.querySelectorAll('.listContent').forEach(current => {
            current.insertAdjacentHTML('beforeend', `<li>${entry[i]}</li>`)
          })
        } 
      }

      let addProducts = entry => {
        let markup = `
        <div class="panel panel-default container thumbnail">

        <div class="ads-list-archive">
             <!-- Image Block -->
             <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                <!-- Img Block -->
                <div class="ad-archive-img list-3">
                                    
                                    
                                    
                   <a href="#" data-toggle="modal" data-target="#Modal-Gallery">
                      <img src="https:${entry.fields.images[0].fields.file.url}" alt="${entry.fields.name}" title="${entry.fields.name}" class="img-responsive">
                                          
                   </a>
                </div>
                <!-- Img Block -->
             </div>
             <!-- Ads Listing -->
             <div class="clearfix visible-xs-block"></div>
             <!-- Content Block -->
             <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                <!-- Ad Desc -->
                <div class="ad-archive-desc">
                   <!-- Price -->
                   <div class="ad-price">
                    <h2>${entry.fields.name}</h2>
                    <h5>Brand: <a href="#">Nepower</a> | <a href="#">Similar products from Nepower</a></h5>
                   </div>
                   <!-- Title -->
                   <hr>
                   <h2 class="price">₦${priceSplit(entry.fields.price)}</h2>
                   <!-- Category -->
                   <div class="category-title"><a href="tel:+2348090586138" class="btn btn-primary btn-block"><i class="ion-android-call"></i> CALL TO BUY</a></div>
                   <!-- Short Description -->
                   <hr>
                   <div class="clearfix visible-xs-block"></div>

                   
                   <!-- Ad History -->
                    <div class="clearfix archive-history">
                      <div class="last-updated"><h3>Device Specification</h3></div>
                            <div class="ad-meta">
                                <ul class="listContent">
                                  ${addList(entry.fields.specifications)}
                                </ul>
                            </div>
                   </div>
                </div>
                <!-- Ad Desc End -->
             </div>
             <!-- Content Block End -->
        </div>
    </div>
        `;

        content.insertAdjacentHTML('beforeend', markup);
      }
    </script>
  </body>
</html>