<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> All Product &middot; NaijaTech Stores &middot; No1 Classified Site For Gadget, Computer and Laptop, Accessories in Nigeria</title>

    <meta name="description" content="No1 Classidied Site For Gadget, Computer and Laptop, Accessories in Nigeria">
    <meta name="keywords" content="unistore, laptops, gadgets, accessories, online store, buy, tablets, niyotek">
    <meta name="author" content="Gentle Coder">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/products/logo.png">
    
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/css/carousel.css" rel="stylesheet">
    <link href="assets/ionicons-2.0.1/css/ionicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <link href="assets/css/custom-scroll/jquery.mCustomScrollbar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="toplinks">
      <a href="#" data-toggle="modal" data-target="#Modal-Gallery"> <i class="ion-ios-heart"></i> Favorites </a>
      <a href="tel:+2347017578648" class="hidden-xs"> <i class="ion-android-call"></i> 0701 757 8648</a>
    </div>

    
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand logo" href="/"><span><i class="ion-android-send"></i></span><img src="../assets/img/products/logo.png"></a>
            <a class="navbar-brand pull-right hidden-sm hidden-md hidden-lg" href="/"></a>
          </div>

        </div><!--/.container-fluid -->
    </nav>


          <div class="search hidden-xs" data-style="hidden">
            <div class="input">
              <button type="button"><i class="ion-ios-search"></i></button>

              <input type="text" name="search" value="" placeholder="Type here..." />
            </div>
          </div>
        </div><!--/.container-fluid -->
    </nav>
    <hr class="offset-top">

    <div class="tags">
      <div class="container">
          <div class="btn-group pull-right sorting">
            Sorting by price
            <select class="price-sorting type-regular" name="price-sorting">
              <option value="up">Low to high</option>
              <option value="down">High to low</option>
          </select>
          </div>

          
        <h2>List of available <%= received %> laptops</h2>
    </div>

    <div class="container">
      <div class="row">

        <!-- Products -->
        <div>
          <hr class="offset-lg">

          <div class="products">
            <div class="row all">
  

            </div>
          </div>

          <nav>
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true"><i class="ion-ios-arrow-left"></i></span>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="disabled"><a href="#">..</a></li>
              <li><a href="#">10</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true"><i class="ion-ios-arrow-right"></i></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- /// -->
      </div>
    </div>


   

    <hr class="offset-lg">
    <hr class="offset-sm">
    <footer>
      <div class="about">
        <div class="container">
          <div class="row">
            <hr class="offset-md">

            <center>
              <div class="col-xs-6 col-sm-6">
              <div class="item">
                <i class="ion-ios-telephone-outline"></i>
                <h1>24/7 free <br> <span>support</span></h1>
              </div>
            </div>
            </center>
            <center>
              <div class="col-xs-6 col-sm-6">
              <div class="item">
                <i class="ion-ios-star-outline"></i>
                <h1>Low price <br> <span>guarantee</span></h1>
              </div>
            </div>
            </center>

            <hr class="offset-md">
          </div>
        </div>
      </div>

      <div class="subscribe">
        <div class="container align-center">
            <hr class="offset-md">

            <h1 class="h3 upp">Join our newsletter</h1>
            <p>Get more information and receive special discounts for our products.</p>
            <hr class="offset-sm">

            <form action="index.php" method="post">
              <div class="input-group">
                <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary"> Subscribe <i class="ion-android-send"></i> </button>
                </span>
              </div><!-- /input-group -->
            </form>
            <hr class="offset-lg">
            <hr class="offset-md">

            <div class="social">
              <a href="#"><i class="ion-social-facebook"></i></a>
              <a href="#"><i class="ion-social-twitter"></i></a>
              <a href="#"><i class="ion-social-googleplus-outline"></i></a>
              <a href="#"><i class="ion-social-instagram-outline"></i></a>
              <a href="#"><i class="ion-social-linkedin-outline"></i></a>
              <a href="#"><i class="ion-social-youtube-outline"></i></a>
            </div>


            <hr class="offset-md">
            <hr class="offset-md">
        </div>
      </div>
      
      <div class="modal fade" id="Modal-Gallery" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
            <h4 class="modal-title">Favorites</h4>
          </div>
          <div class="modal-body">
            <p>You currently have no favorites</p>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

      <div class="container">
        <hr class="offset-md">

        <div class="row menu">
          <div class="col-sm-5 col-md-4">
            <h1 class="h4">Naijatechstores. <i class="ion-plus-round hidden-sm hidden-md hidden-lg"></i> </h1>

           <p>Naijatechstores is the first online warehouse dedicated to computers and accessories. Here,you can get all varieties of brands and specifications of laptops. We guarantee the reliability and durability of laptop(s) you buy on our site</p>
          </div>
  
          <div class="col-sm-6 col-md-4">

            <img src="../assets/img/products/Comp_1-min.gif" alt="delivery gif" class="img-responsive">
          </div>
            <!-- <hr class="offset-xs"> -->
  
          <div class="col-sm-3 col-md-3 col-md-offset-1">
            <h1 class="h4">24/7 support / Help Center:</h1>

            <div style="display: flex; width: 100%; justify-content: center;">
              <div style="display: flex; flex-direction: column; width: 50%;">
                <address>
                  27, Adeniyi street,<br>
                  Itire Surulere, Lagos<br>
                </address>

                <address>
                  16 Onawale Street, <br>
                  off ire akari Road, <br>
                  oshodi isolo Lagos<br>
                  <a href="https://api.whatsapp.com/send?phone=07036061730" target="_blank"><i class="ion-social-whatsapp"></i> 0703 606 1730</a>
                </address>
              </div>

              <div style="display: flex; flex-direction: column; width: 50%;">
                <address>
                  104 Lawanson Rd, <br>
                  Itire Surulere, Lagos<br>
                </address>

                <address>
                  <strong>Support</strong><br>
                  <a href="mailto:#">support@niyotechtehnologies.com</a>
                </address>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>

      <hr>

      <div class="container">
        <div class="row">
          </div>
          <div>
            <hr class="offset-sm hidden-sm">
            <hr class="offset-sm">
            <p>Copyright 2020 © Powered By Niyotek Technologies Designed By Webideasnetwork All Rights Reserved.</p>
            <hr class="offset-lg visible-xs">
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal -->

    <div class="modal fade" id="Modal-Gallery" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
            <h4 class="modal-title">Favorites</h4>
          </div>
          <div class="modal-body">
            <p>you currently have no favorites</p>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery-latest.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/core.js"></script>
    <script src="assets/js/store.js"></script>

    <script type="text/javascript" src="assets/js/custom-scroll/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" src="assets/js/jquery-ui-1.11.4.js"></script>
    <script type="text/javascript" src="assets/js/jquery.ui.touch-punch.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>

    <script type="text/javascript">
      let title = document.querySelector('title');
      let content = document.querySelector('.all');
      let pagination = document.querySelector('.pagination');
      let priceToggle = document.querySelectorAll('.priceToggle');

      let client = contentful.createClient({
        space: '506rx1s4kvpq',
        accessToken: 'cpYUmV3UQjbOMBkY90P-CDkzE1cy5fpdhPdaEvfAn_g'
      })

      pagination.style.display = 'none';


      client.getEntries({
        'query': '<%= received %>'
      })
      .then(function (entries) {
          removeSpinner();
          entries.items.forEach(entry => {
            addProduct(entry)
          })

          if (entries.items.length == 0) {
            let markup = `<p class="h3">No such product available at this time check other avaiable products`;
            content.insertAdjacentHTML('beforeend', markup);
          }
      })
      .catch(console.error)

      $(document).on("change", ".price-sorting", function() {

          var sortingMethod = $(this).val();

          if(sortingMethod == 'up')
          {
              sortProductsPriceAscending();
          }
          else if(sortingMethod == 'down')
          {
              sortProductsPriceDescending();
          }

      });

      let sortProductsPriceAscending = () => {
          var products = $('.product');
          products.sort(function(a, b){ return $(a).data("price")-$(b).data("price")});
          $(".products").html(products);
      }

      let sortProductsPriceDescending = () => {
          var products = $('.product');
          products.sort(function(a, b){ return $(b).data("price") - $(a).data("price")});
          $(".products").html(products);
      }

      let priceSplit = given => {
        let price = given.toString().split('');

        if (price.length >= 4) {
          let newPrice = price.splice(-3);
          let currentPrice = price.join('') + ',' + newPrice.join('');

          if (currentPrice.length > 7) {
            let current = currentPrice.toString().split('');
            let endPrice = current.splice(-7);
            currentPrice = current.join('') + ',' + endPrice.join('');
          }
          return currentPrice;
        }
      }

      let addProduct = entry => {
        let markup = `
            <div class="col-sm-6 col-md-4 product" data-price="${entry.fields.price}">
                <div class="body">
                  <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                  <a href="./"><img src="https:${entry.fields.images[0].fields.file.url}" alt="${entry.fields.productName}"/></a>

                  <div class="content">
                    <h1 class="h3">${entry.fields.productName}</h1>
                    <p class="price">${priceSplit(entry.fields.price)}</p>
                    <label>Desktop</label>

                    <a class="btn btn-link" href="/product/${entry.sys.id}"> <i class="ion-android-open"></i> Details</a>
                    <a class="btn btn-primary btn-sm rounded" href="tel:+2347017578648"> <i class="ion-android-call"></i> Contact Seller</a>
                  </div>
                </div>
              </div>
          `;

        title.innerHTML = ` All <%= received %> &middot; NaijaTech Stores &middot; No1 Classified Site For Gadget, Computer and Laptop, Accessories in Nigeria`;

        content.insertAdjacentHTML('beforeend', markup);
      }

      let addSpinner = () => {
        let markup = `
          <center><img src="../assets/img/products/spinningwheel.gif" class="spinner" alt="spinner"></center>
        `;

        content.insertAdjacentHTML('beforeend', markup);
      }

      addSpinner();

      let removeSpinner = () => {
        let el = document.querySelector('.spinner');

        el.remove();
      }

      // let filterByBrand => () {

      // }

      // let filterByPrice => () {
        
      // }

    </script>

  </body>
</html>